/* _____Mulish Font from - Google Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* _____Universal Style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.red-color-span {
    color: #FF5400;

}

.icon-align {
    display: flex;
    align-items: center;
    gap: 8px;
}

.common-p-text {
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.red-button {
    padding: 0rem 2rem;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

/* ______________________________________________HEADER */
header {
    margin: 3rem 8rem;
}


/* NAV-BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .web-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.web-title h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 2.5rem;
}

nav ul li a {
    color: #424247;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

/*__________________________Banner Section */
.banner {
    margin: 3rem 0rem;
    height: 77vh;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    row-gap: 2rem;
    text-align: center;
}

.banner h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    max-width: 40rem;
}

.banner-input {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-input button {
    padding-left: 40px;
}

.banner-input input,
select,
button {
    width: 11rem;
    height: 3rem;
    padding-left: 14px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}

.btn-banner {
    padding: 1rem 2rem;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

/* _________________________________________Popular Tours Section */
/* _____Main */
main {
    margin: 3rem 8rem;
}

.popular-tours {
    margin: 4rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tours-content {
    max-width: 32rem;
    text-align: left;
}

.tours-content ul {
    margin-left: 20px;
    margin: 2rem 2rem;
}

.tours-content ul li p {
    margin-bottom: 35px;
}

.tours-content p {
    margin-top: 20px;
}

.tours-content button {
    margin-top: 30px;
}





































@media screen and (max-width: 600px) {

   .popular-tours, .banner-input,
    nav,
    ul {
        flex-direction: column;
    }

    main, header {
        margin: 3rem 1rem;
    }

    .banner {
        background-size: cover;
        height: 100vh;
        background-position: center;
    }

    .section-title, .banner h1 {
        font-size: 1.5rem;
    }

    .banner p {
        max-width: 20rem;
    }
    .popular-tours .tour-pic{
        margin: 2rem 0rem;
    }
    .popular-tours img{
        width: 100%;
    }
}